@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

/* css varriable */
:root {
  --primary-color: #880aff; /* brand color */
  --dark-color: #101010; /* elements background for dark mode */
  --light-color: #eeeeee; /* elements background for light mode */
  --animation-duration: 0.5s; /* default animation duration */
}

/* theme variable  */
@theme {
  --color-dark: var(--dark-color);
  --color-light: var(--light-color);
  --default-transition-duration: var(--animation-duration);
  --color-primary: var(--primary-color);
}

/* fonts */
@font-face {
  font-family: "MuseoModerno";
  src: url("../fonts/MuseoModerno-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "MuseoModerno";
  src: url("../fonts/MuseoModerno-Medium.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "MuseoModerno";
  src: url("../fonts/MuseoModerno-SemiBold.ttf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "MuseoModerno";
  src: url("../fonts/MuseoModerno-Bold.ttf") format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: "MuseoModerno";
  src: url("../fonts/MuseoModerno-ExtraBold.ttf") format("truetype");
  font-weight: 800;
}
body {
  font-family: "MuseoModerno", sans-serif;
}

/* social icon svg */
.social svg {
  @apply fill-black dark:fill-white md:h-6 h-5.5;
}

/* testimonial card active */
#testimonial .swiper-slide-active {
  @apply border-2 border-primary/20;
}

/* navbar active */
.active-nav-links {
  @apply text-primary;
}